*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* CSS Variables */
:root{
    --navbar-height: 59px;
}
#navbar{
    display: flex;
    align-items: center;
    
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 9px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}
/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url("Images/bg1.jpg") no-repeat center center/cover;
    height: 642px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    
}

#home h1{
    color:white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/* Wines Section */
#wines{
    margin: 34px;
    display: flex;
}
#wines .box{ 
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#wines .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#wines .box p{
    font-family: 'Bree Serif', serif;

} 

/* Clients Section */
#client-section{ 
    position: relative;
}

#client-section::before{
 content: "";
 position: absolute;

 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.3;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 124px;
}
#form-box{
    text-align: center;
    justify-content: center;
}


/* Form Section */
#form{
    position: relative;
}
#form::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.85;
    background: url("Images/form.jpg") no-repeat center center/cover;

}
.form-group{
   padding-bottom: 34px;
   text-align: center;
   justify-content: center;
}
.form-group input{
    width:500px;
    padding: 0px 0px 10px 10px;
    border-radius: 9px;
    font-size: 1.1rem;
}
.form-group input:focus,
.form-group input:hover{
    border: 3px solid black;
} 

.form-group label{
    padding: 0px 0px 10px 10px;
  
    font-size: 1.6rem;
    font-family: 'Bree Serif', serif;

}
.submit-button{

    background-color: brown;
    color: white;
    margin-bottom: 10px;
    border-radius: 9px;
    width: 200px;
    height: 35px;
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
    cursor: pointer;    
}
.submit-button:hover,
.submit-button:focus{
    border: 3px solid gold;
    color: gold;
}
/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
}
.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}



.center{
    text-align: center;
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

